<h1><p align="center"> <%= h @message %> , see you next time! </h1>

<p align="center"><%=  image_tag("goodbye.jpg") %></p>

<p align="center"><%= link_to image_tag("gohome.jpg"),
:controller => "main", :action => "welcome" %> </p>

















